#backColor {
  /* background: linear-gradient(to right, rgba(235,224,232,1) 52%,rgba(254,191,1,1) 53%,rgba(254,191,1,1) 100%); */
  background-color: rgba(235, 224, 232, 1);
}
.box-right {
  padding: 30px 25px;
  background-color: white;
  border-radius: 15px;
}

.textmuted {
  color: #7a7a7a;
}

.bg-green {
  background-color: #d4f8f2;
  color: #06e67a;
  padding: 3px 0;
  display: inline;
  border-radius: 25px;
  font-size: 11px;
}

.p-blue {
  font-size: 14px;
  color: #1976d2;
}

.fas.fa-circle {
  font-size: 12px;
}

.p-org {
  font-size: 14px;
  color: #fbc02d;
}

.h7 {
  font-size: 15px;
}

.h8 {
  font-size: 12px;
}

.text-warning {
  /* font-size: 12px;
	font-weight: 500; */
  color: #edb537 !important;
  text-align: start;
}

input {
  border-bottom: 1.5px solid #e8e5d2 !important;
  font-weight: bold;
  border-radius: 0;
  border: 0;
}
.form-group input:focus {
  border: 0;
  outline: 0;
}
.col-sm-5 {
  padding-left: 90px;
}
.btn {
  background: #f3a002 !important;
  border: none;
  border-radius: 30px;
}
.btn:focus {
  box-shadow: none;
}
