#filterColor {
    height: 130% !important;
    background-color: #7F94C5 !important;
    height: 60%;
    border-radius: 12px;
}

.col-example {
    margin-top: 5%;
    padding: 1rem;
    /* background-color: #33b5e5; */
    color: #fff;
    /* text-align: center; */
}
#search-button{
    background-color: #6C9443;
}
#filter-button{
    background-color: #3B71CA;
}